<div class="flex-display">
  <div>
    <span class="fa" [ngClass]="starClasses[1]"></span>
    <span class="fa" [ngClass]="starClasses[2]"></span>
    <span class="fa" [ngClass]="starClasses[3]"></span>
    <span class="fa" [ngClass]="starClasses[4]"></span>
    <span class="fa" [ngClass]="starClasses[5]"></span>
    <span class="fa" [ngClass]="starClasses[6]"></span>
    <span class="fa" [ngClass]="starClasses[7]"></span>
    <span class="fa" [ngClass]="starClasses[8]"></span>
    <span class="fa" [ngClass]="starClasses[9]"></span>
    <span class="fa" [ngClass]="starClasses[10]"></span>
  </div>

  <span class="stars-sub-text">{{rating}}/{{totalRating}}</span>
</div>